# Ignore Cargo files & directory
/target
Cargo.toml
Cargo.lock

# For all dem people using IDEA for Rust development
/.idea

# Ignore vim swap files
*.swp

# Ignore self-built libraries
/lib/libldap.rlib

# Ignore the build directory
/build/

# And the config directory
/config/

tags
